<div class="searching">
    {% for workshop in m %}
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail text-center">


                <br/>
                <h5 class="text-primary">Voici les coordoneés de l'evenement</h5>
                <img src="{{ asset('images/arij/') }}{{ workshop.images }}" style="width: 150px; height: 150px">

                <ul>


                    <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> Son nom est : {{ workshop.nom }}</li>
                    <li><i class="livicon" data-name="check" data-size="18" data-loop="true" data-c="#787878" data-hc="787878"></i> Date  :{{ workshop.date|date('Y-m-d') }}</li>




                </ul>



            </div>
        </div>

    {% endfor %}
</div>
